{% extends "content.html" %}

{% block page_title%}
    Допомога адвоката
{% endblock %}

{% block title_content %}
    Адвокатське об'єднання «Софяк та партнери»
{% endblock %}
{% block image_content %}
    <img class="image_content" src="{{ url_for('static', filename='data/pict/law_pract.jpg')}}">
{% endblock %}
{% block text_content %}
    <p>Майже в кожного з нас рано чи пізно виникає ситуація, яка потребує правового вирішення.</p>
    <p>Не будучи  фахівцем у  галузі права, навіть досвідченій людині,  важко врахувати  всі можливі ризики та приймати
        правильні рішення.</p>
    <p>Зробіть перший крок- зателефонуйте в наш офіс і це стане початком вирішення вашої проблеми по суті!</p>
    <p>Наша команда - це адвокати з багаторічним досвідом роботи. Постійний моніторинг змін в законодавстві та практиці його застосування,
    з метою чіткого розуміння бізнес-процесів кожного з клієнтів  дозволяє  забезпечувати якісний захист прав і законних інтересів.</p>
    <h4>АО "Софяк та партнери" пропонує:</h4>
    <ul>
        <li>правове забезпечення ведення бізнесу на постійній основі (абонентське юридичне обслуговування);</li>
        <li>разові послуги, які можуть включати в себе усні та письмові консультації;</li>
        <li>складання юридичних документів;</li>
        <li>представництво інтересів клієнтів в державних органах;</li>
        <li>представництво в господарських, адміністративних судах та судах загальної юрисдикції  всіх інстанцій з різних видів спорів
            (включаючи підготовку позовних заяв, апеляційних, касаційних скарг та інших процесуальних документів);</li>
        <li>медіацію (вид альтернативного врегулювання спорів, метод вирішення спорів із залученням посередника- медіатора).</li>
    </ul>
    <p>Ми будемо раді Вас бачити серед своїх клієнтів. Наш досвід - ваше майбутнє!</p>
{% endblock %}