{% extends "content.html" %}

{% block page_title%}
    Медіація
{% endblock %}

{% block title_content %}
    ЩО ТАКЕ МЕДІАЦІЯ?
{% endblock %}
{% block image_content %}
    <img class="image_content" src="{{ url_for('static', filename='data/pict/mediation.jpg')}}">
{% endblock %}
{% block text_content %}
    <p>Медіація – це неформальна, але чітко організована процедура врегулювання спору за участі нейтрального
        посередника (медіатора), який підтримує сторони у досягненні ними взаємовигідного рішення.</p>
    <p>Медіація має добровільний характер, сторони за власним бажанням можуть припинити медіацію або продовжити її.
        Сторони самі  доходять згоди або ні, за них ніхто не приймає рішень.</p>
    <p>Однією з умов медіації є її конфіденційність: усе, що відбувається під час медіації, залишається в таємниці.</p>
    <p>Медіація як шлях врегулювання спору, орієнтована на інтереси сторін.
        Пошуки рішення не обмежуються виключно правовим предметом спору, а охоплюють широке коло питань,
        пов’язаних з економічними, фінансовими чи особистими інтересами сторін.</p>
    <p>Медіатор, на відміну від третейського судді/арбітра, не виносить жодних рішень,
    він підтримує сторони на шляху розробки ними власного рішення.</p>
    <h5>Основні переваги!</h5>️
    <p>Сфера застосування медіації не обмежується певним видом конфліктів, її проведення можливе у будь-яких спорах.
        Одна з основних переваг медіація полягає у тому, що сторони самі між собою узгоджують,
        які питання і в якому об’ємі вони хочуть обговорити. Процедура медіації гнучка й неформалізована,
        тому її легко підлаштувати до потреб сторін.</p>
    <p>Співпраця з медіатором полягає в наступному алгоритмі дій:</p>
    <ul>
        <li>Звернення до медіатора (дзвінок в офіс чи короткий опис ситуації через електронну пошту).</li>
        <li>Залучення другої сторони до процедури медіації(отримання згоди на медіацію).</li>
        <li>Підписання угоди про згоду на проведення медіації( а також  підписання угоди про конфіденційність між сторонами).</li>
        <li>Проведення процедури медіації(визначення дати, часу та форми проведення медіації).</li>
        <li>Підписання медіаційної угоди між учасниками.</li>
    </ul>

{% endblock %}