{% extends "content.html" %}

{% block page_title%}
    Школа юридичної майстерності
{% endblock %}

{% block title_content %}
    Цікавить юридична кар'єра? Інвестуй правильно - в знання!
{% endblock %}
{% block image_content %}
    <img class="image_content" src="{{ url_for('static', filename='data/pict/school.jpeg')}}">
{% endblock %}
{% block text_content %}
    <p>Перед кожним студентом юридичного факультету стоїть проблема вибору професії, застосуванні здобутих знань.
        Комусь важко розпочати старт кар'єри, а комусь продовжити роботу після тривалої перерви.
        Cаме в цей час слід подумати про нематеріальні інвестиції- знання, підвищення своєї вартості на ринку праці.</p>
    <p>З метою підготовки фахівців в галузі права на базі Адвокатського об'єднання "Софяк та партнери" в 2014 році створена
        Школа юридичної майстерності.</p>
    <p>В нашій школі можна здобути знання та практику за короткий час, не відволікаючись від основного виду зайнятості чи роботи.</p>
    <p>На даний час підготовка здійснюється за двома напрямками:</p>
    <h4>1) ПОМІЧНИК АДВОКАТА (для студентів юридичних факультетів денної та заочної форми навчання).</h4>
    <p>Термін навчання від 1 місяця. Вартість 3000 грн в місяць.</p>
    <h5>Програма курсу "Помічник адвоката"</h5>
    <ul>
        <li>Управління інформацією та часом. Робота з документами, базами даних. Інтернет-ресурсами.</li>
        <li>Презентаційні навички юриста.Адвокатська етика.</li>
        <li>Работа адвоката в умовах конфлікту. Вирішення конфліктних ситуацій. Майстерність переконання . Медіація.</li>
        <li>Консультаційна діяльність адвоката. Представництво в суді. Ефективна досудова робота. Досудові переговори.</li>
        <li>Особливості юридичної техніки при складанні процесуальних документів.Стандарти ведення адвокатського досьє.</li>
        <li>Робота адвоката з довірителем. Навички роботи адвоката зі справою довірителя.
            Тактика підготовки до судового процесу. Відпрацювання позиції в справі.</li>
        <li>Аргументи та докази. Ключові проблеми доведення по господарським, цивільним та адміністративним спорам.</li>
        <li>Правила захисту бізнесу в спорах з контролюючими органами (фіксальна та митна служба).</li>
        <li>Стратегія і тактика ведення судового процесу в залежності від стадії судового розгляду(суд першої інстанції, апеляція,
            касація)та види судового розгляду(кримінальне, цивільне, господарське чи адміністративне).</li>
        <li>Навички роботи адвоката в кримінальних справах.</li>
        <li>Участь адвоката в цивільному процесі.</li>
        <li>Адвокат в господарському процесі.</li>
        <li>Навички роботи адвоката по правилах адміністративного судочинства.</li>
        <li>Проблеми договірного права в практиці судів загальної юрисдикції та господарських судів. Заключення та виконання договорів.</li>
        <li>Особливості роботи адвоката при зверненні до Европейського суду з прав людини.</li>
        <li>Адвокат в МКАС при ТПП, третейське судочинство.</li>
        <li>Риторика. Виступ адвоката в судовому засіданні.</li>
        <li>Адвокат у виконавчому провадженні.</li>
        <li>Стандарти якості адвокатських послуг.Дещо про незаконну діяльність адвокатів.</li>
        <li>Юридичний маркетинг.Спеціалізація. Навички клієнт-орієнтування.Тайм-менеджмент.</li>
        <li>Психологічні основи діяльності адвоката. Використання адвокатом спеціальних знань психолога в
            кримінальному та цивільному процесі, навички розпізнання брехні та блефу.</li>
    </ul>

    <h4>2) СТАЖУВАННЯ майбутніх адвокатів.</h4>
    <p>(подробиці на  <a href="https://advocat4e.wixsite.com/advocatchernivtsi/rishennya-naau-rau">сайті</a> для юристів,
        які склали іспит адвоката).</p>
    <p>До успіху- разом з нами!</p>
{% endblock %}